<div class="container">
  <div class="row p-5">
  <div class="col-5">
    <h1 class="text-left">Its Almost Yours!</h1>
    <%= cl_image_tag @item.photo.key, height: 450 %>
    </div>
    <div class="col-7 d-flex flex-column justify-content-center">
      <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :start_date, as: :date, order: [:day, :month, :year], label: "I want it from..." %> 
        <%= f.input :end_date, as: :date, order: [:day, :month, :year], label: "Until..."%>
        <%= f.button :submit, "Rent it now!", class: "btn btn-primary ml-1"%>
      <% end %>
    </div>
  </div>
</div>