<h1>My Account Page</h1>

<div class="container">
  <section>
    <h1 class="text-center mt-4 pt-4">My Rented Items</h1>
<% @items.each do |item| %>
 <div class="card-product mt-4">
<!-- <div class="card-category item-card item-img" style="background-image: url(<%#= item.photos.attached? ? (cl_image_path item.photos[0].key) : (image_path("defaultdress.jpg")) %>), width: 200px; background-position: center; background-size: cover;"></div> -->
  <div class="item-img" style="background-image: url(<%= item.photos.attached? ? (cl_image_path item.photos[0].key) : (image_path("defaultdress.jpg")) %>); background-size: cover; background-position: center; linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"></div>
  <div class="card-product-infos">
    <h2> <%= item.name %> by <%= item.brand %></h2>
    <p><%= item.size %></p>
    <p><%= item.initial_condition %></p>
    <p><%= item.num_uses %></p>
    <% item.bookings.each do |booking| %>
      <p><%= booking.user.email %></p>
      <p><%= booking.start_date %></p>
      <p><%= booking.end_date %></p>
    <% end %>
    <br>

    <p style="padding-left: 520px;font-size: 25px;"> <strong>£<%= item.price %></strong></p>

  </div>
</div>
</div>
<% end %>
</section>

<div class="container">
</section>
<h1 class="text-center mt-4 pt-4">My Bookings</h1>
<section>
  <% @bookings.each do |booking| %>
 <div class="card-product mt-4">
<!-- <div class="card-category item-card item-img" style="background-image: url(<%#= booking.item.photos.attached? ? (cl_image_path booking.item.photos[0].key) : (image_path("defaultdress.jpg")) %>), width: 200px; linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"></div> -->
  <div class="item-img" style="background-image: url(<%= booking.item.photos.attached? ? (cl_image_path booking.item.photos[0].key) : (image_path("defaultdress.jpg")) %>); background-size: cover; background-position: center; linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"></div>
  <div class="card-product-infos">
    <h2> <%= booking.item.name %> by <%= booking.item.brand %></h2>
    <p><%= booking.item.size %></p>
    <p><%= booking.item.initial_condition %></p>
    <p><%= booking.item.num_uses %></p>
    <br>

    <p style="padding-left: 520px;font-size: 25px;"> <strong>£<%= booking.item.price %></strong></p>

  </div>
<!-- </div> -->
<!-- </div> -->
</div>
<% end %>
</section>
</div>



</div>
