<%= render partial: "banner" %>

<div class="container" id="items">
  <h1 class="text-center mt-4 pt-4">Find your Cinderella Moment</h1>
  <hr>
  <div class="row" id="items">
    <% @items.each do |item| %>
      <%= link_to item_path(item), class: "no-hover" do %>
        <div class="col-4">
          <div class="card-category item-index-description" style="background-image: url(<%= item.photo.attached? ? (cl_image_path item.photo.key) : (image_path("defaultdress.jpg")) %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
            <div class="item-index-description-text">
              <%= item.name %>
              <div>
               <p> Brand: <%= item.brand %></p>
               <p> Price: £<%= item.price %></p>
              </div>
            </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>









