
<h1>This is what you've selected</h1>
<h3><%= @item.name %> by <%= @item.brand %></h3>
<img src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1598548505/627425_ZAD88_1000_001_100_0000_Light-Long-wool-silk-V-neck-dress.jpg" height="300" width="400" style="border-radius:5px;" alt="">
<ul>
<li><%= @item.price %></li>
<li><%= @item.size %></li>
<li><%= @item.initial_condition %></li>
<li><%= @item.num_uses %></li>
<li>Available now until 23/12/20</li>
</ul>
<a href="#" class="btn btn-warning">Add to cart</a>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 -->




