<div class="container">
  <section>
    <h3 class="mt-4"><%= @item.name %> by <%= @item.brand %></h3>
    <div class="row h-75 mt-4">
      <div class="col-7">
        <div class="item-img" style="background-image: url('<%= cl_image_path @item.photo.key %>'); background-size: cover; height: 650px;"></div>
      </div>
      <div class="col-5">
        <p>Brand: <%= @item.brand %></p>
        <p>Price per day: £<%= @item.price %></p>
        <p>Size: <%= @item.size %></p>
        <p>Initial Condition: <%= @item.initial_condition %></p>
        <p>Number of Uses: <%= @item.num_uses %></p>
        <p>Available until: 23/12/20</p>
        <%= link_to "Add to cart", new_item_booking_path(@item_id), class: "btn btn-warning" %>
      </div>
    </div>
  </section>

  <section class="mt-5">
  <h3>Details</h3>
  <hr>
  </section>

  <section>
    <h3>Size and Fit</h3>
    <hr>
  </section>

  <section>
    <h3>Delivery and Returns</h3>
    <hr>
  </section>
</div>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 -->




