

<div class="container">
  <section>


 <div class="card-product mt-4">


   <div class="item-img" style="background-image: url(<%= @item.photo.attached? ? (cl_image_tag @item.photo[0].key) : (image_path("defaultdress.jpg")) %>); background-size: cover; height: 650px;"></div>
  <div class="card-product-infos">
    <h2> <%= @item.name %> by <%= @item.brand %></h2>
        <p><%= @item.size %></p>
        <p><%= @item.initial_condition %></p>
        <p><%= @item.num_uses %></p>
        <p><strong>Available from</strong> 23/12/20</p>
        <p style="padding-left: 520px;font-size: 25px;"> £<%= @item.price %></p>

        <%= link_to "Add to cart", new_item_booking_path(@item_id), class: "btn btn-dark mt-4" %>
  </div>
</div>

  </section>

  <section class="mt-5">
  <h3>Details</h3>
  <hr>
  </section>

  <section>
    <h3>Size and Fit</h3>
    <hr>
  </section>

  <section>
    <h3>Delivery and Returns</h3>
    <hr>
  </section>
</div>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 -->





