<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirbnbClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render 'shared/flashes' %>

      <div class="footer_card p-1">
    <h2> Follow us on social!</h2>
    <ul class ="list-inline">
      <li><a href="https://www.instagram.com/annelieseoflondon/" target=”_blank”> <i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/anneliese-gerrard-2860b9a4/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
  </body>
</html>
